@use '../../baseScss/abstracts' as *;

.hero {
  &-content {
    @include maxWidthLg;
    @include flexCenter;
    @include sectionSpacingLg;
    flex-direction: column;
    color: color(white);
    text-align: center;

    @include responsive(md) {
      @include sectionSpacingSm;
    }
  }

  &-heading {
    @include headingStyles;
    font-size: size(xxl) + 4rem;

    @include responsive(sm) {
      font-size: size(xxl) + 2rem;
    }
  }

  &-desc {
    @include textStyles;
    font-size: size(md);
    margin-bottom: 4rem;
  }

  &-btns {
    display: flex;
    align-items: center;
    gap: 3rem;

    @include responsive(sm) {
      flex-direction: column;
    }
  }
}
