@use '../../baseScss/abstracts' as *;

.btn {
  border-radius: $btnRadius;
  padding: 1.5rem 3rem;
  font-size: size(sm);
  display: inline-block;

  @include responsive(sm) {
    width: 100%;
    display: block;
  }

  &-primary {
    @include headingStyles;
    background-color: color(white);
    color: color(lightRed);
    transition: $mainTransition;

    &:hover,
    &focus {
      background-color: color(veryLightRed);
      color: color(white);
    }
  }

  &-secondary {
    @include headingStyles;
    color: color(white);
    background-color: transparent;
    border: 0.2rem solid color(white);
    transition: $mainTransition;

    &:hover,
    &focus {
      background-color: color(veryLightRed);
    }
  }
}
